<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ToDo List!</title>
    <link href="https://fonts.googleapis.com/css?family=Alegreya+SC|Barrio" rel="stylesheet">
    <link rel="stylesheet" href="./styles/styles.css">
</head>

<body>

    <h1>One List</h1>
    <div class="formContain">
        <form class="form" action="/" method="post">
            <input class="input" type="text" name="searchInput" placeholder="Enter next ToDo Item">
            <input type="submit">
            <!--<a class="btn" href="">Add Item</a>-->
        </form>
    </div>
    <div class="listContain">
        <ul>
            {{#todos}}
            <li>
                <input class="checkbox" type="checkbox"><span> {{.}}</span>
            </li>
            <br> {{/todos}}
        </ul>
    </div>

</body>

</html>